.reason-container {
    height: 684px;
    background-color: #9fabe7;
    display:flex;
    width: 100wh;
    flex-direction: column;
    /* background-image: ; */
    background-image: url('../../assets/car.png');
    background-size: cover;
}